@using Variant = MudBlazor.Variant
<div class="pa-4">
    <MudForm>
        <MudTextField T="string" Label="Name" Required="true" Variant="Variant.Outlined" HelperText="The name of the workflow."></MudTextField>
        <MudTextField T="string" Label="Description" Variant="Variant.Outlined" HelperText="A brief description of the workflow." Lines="4"></MudTextField>
    </MudForm>
</div>