
    <div class="pa-4">
        <MudForm>
            @{
                var inputDisplayModels = InputDisplayModels;
            }
            @foreach (var inputModel in inputDisplayModels)
            {
                <div class="my-3">
                    @inputModel.Editor
                </div>
            }
        </MudForm>
    </div>