<div class="pa-4">
    <MudForm>
        <MudStack Spacing="5">
            @foreach (var inputModel in InputDisplayModels)
            {
                @inputModel.Editor
            }
        </MudStack>
    </MudForm>
</div>