@using Elsa.Studio.Workflows.Screens.EditWorkflowDefinition.Components.WorkflowProperties.Tabs.InputOutput.Components.Inputs
@using Elsa.Studio.Workflows.Screens.EditWorkflowDefinition.Components.WorkflowProperties.Tabs.InputOutput.Components.Outputs
@using Elsa.Studio.Workflows.Screens.EditWorkflowDefinition.Components.WorkflowProperties.Tabs.InputOutput.Components.Outcomes
@using Variant = MudBlazor.Variant
<div class="pa-4">
    <MudStack>
        <InputsSection WorkflowDefinition="WorkflowDefinition" OnWorkflowDefinitionUpdated="OnWorkflowDefinitionUpdated"/>
        <OutputsSection WorkflowDefinition="WorkflowDefinition" OnWorkflowDefinitionUpdated="OnWorkflowDefinitionUpdated"/>
        <OutcomesSection WorkflowDefinition="WorkflowDefinition" OnWorkflowDefinitionUpdated="OnWorkflowDefinitionUpdated"/>
    </MudStack>
    
    <MudOverlay Visible="IsReadOnly" Absolute="true"/>
</div>