@using Elsa.Dashboard.Designer.Interop
@inject PromptJsInterop PromptInterop
@inject DesignerJsInterop DesignerJsInterop

<div style="width:100%; height:100%">
    <div id="@_containerId"></div>
</div>

@code {

    private readonly string _containerId = $"container-{Guid.NewGuid():N}";

    private async Task ButtonClick()
    {
        await PromptInterop.Prompt("Hello from C#!");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(TimeSpan.FromMilliseconds(500));
             await DesignerJsInterop.CreateGraph(_containerId);
        }
    }
    

}