@using Elsa.Studio.Contracts
@using Elsa.Studio.Workflows.Designer.Interop
@using MudBlazor.Utilities
@using System.Text.Json
@using Elsa.Studio.Workflows.Core.Contracts
@using Elsa.Studio.Workflows.Designer.Contracts
@using Elsa.Studio.Workflows.Designer.Services
@implements IDisposable
@implements IAsyncDisposable

<div style="width:2000px; height:2000px;">
    <div class="ma-2">
        <MudBreadcrumbs Items="_activityPath" Style="padding: 6px;"></MudBreadcrumbs>
    </div>
    <div id="@_containerId" class="graph-container"></div>
</div>

@code {

    private readonly string _containerId = $"container-{Guid.NewGuid():N}";
    private IFlowchartMapper _flowchartMapper = default!;
    private X6GraphApi _graphApi = default!;

    [Parameter]
    public JsonElement Flowchart { get; set; }

    [Inject]
    private DesignerJsInterop DesignerJsInterop { get; set; } = default!;

    [Inject]
    private IThemeService ThemeService { get; set; } = default!;

    [Inject]
    private IActivityRegistry ActivityRegistry { get; set; } = default!;

    [Inject]
    private IFlowchartMapperFactory FlowchartMapperFactory { get; set; } = default!;

    public async Task<JsonElement> ReadFlowchartAsync()
    {
        var cells = await _graphApi.ReadGraphAsync();

        return Flowchart;
    }
    
    public async Task AddActivityAsync(JsonElement activity)
    {
        var node = _flowchartMapper.MapActivity(activity);
        await _graphApi.AddActivityNodeAsync(node);
    }

    public async Task ZoomToFitAsync() => await _graphApi.ZoomToFitAsync();
    public async Task CenterContentAsync() => await _graphApi.CenterContentAsync();

    protected override async Task OnInitializedAsync()
    {
        _flowchartMapper = await FlowchartMapperFactory.CreateAsync();
    }

    /// <summary>
    /// Sets the grid color.
    /// </summary>
    private async Task SetGridColorAsync(string color) => await _graphApi.SetGridColorAsync(color);

    public async ValueTask DisposeAsync()
    {
        Dispose();
        await _graphApi.DisposeGraphAsync();
    }

    public void Dispose()
    {
        ThemeService.IsDarkModeChanged -= OnDarkModeChanged;
    }

    private List<BreadcrumbItem> _activityPath = new()
    {
        new("Flowchart1", href: "#", icon: ActivityIcons.Flowchart),
        new("ForEach1", href: "#", icon: @Icons.Material.Outlined.RepeatOne),
    };

    protected override void OnInitialized()
    {
        ThemeService.IsDarkModeChanged += OnDarkModeChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _graphApi = await DesignerJsInterop.CreateGraphAsync(_containerId);
            var graph = _flowchartMapper.MapFlowchart(Flowchart);
            await _graphApi.LoadGraphAsync(graph);
        }
    }

    private async void OnDarkModeChanged()
    {
        var palette = ThemeService.CurrentPalette;
        var gridColor = palette.BackgroundGrey;
        await SetGridColorAsync(gridColor.ToString(MudColorOutputFormats.HexA));
    }

}