<div style="width:100%; height:1000px;">
    <div class="ma-2">
        <MudBreadcrumbs Items="_activityPath" Style="padding: 6px;"></MudBreadcrumbs>
    </div>
    <div id="@_containerId" class="graph-container"></div>
</div>