@inherits StudioComponentBase

<CascadingValue Value="@this">
    <div class="elsa-react-sequence-designer elsa-react-flowchart-designer elsa-flowchart-diagram-designer-v2" style="width:100%; height:100%">
        <div id="@_containerId" class="graph-container" style="width:100%; height:100%"></div>
    </div>
</CascadingValue>
