@using Variant = MudBlazor.Variant

<MudTabs Elevation="0" ApplyEffectsToContainer="true">
    <MudTabPanel Text="Properties">
        <div class="pa-4">
            <MudAlert Variant="Variant.Outlined">Properties</MudAlert>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Variables">
        <div class="pa-4">
            <MudAlert Variant="Variant.Outlined">Variables</MudAlert>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Input/output">
        <div class="pa-4">
            <MudAlert Variant="Variant.Outlined">Input output</MudAlert>
        </div>
    </MudTabPanel>
</MudTabs>