@using Variant = MudBlazor.Variant
<div>
    @* <MudPaper Class="pa-4"> *@
    @*     <MudText Typo="Typo.subtitle1">@Activity?.Id</MudText> *@
    @*     <MudText Typo="Typo.subtitle2">@Activity?.Type</MudText> *@
    @* </MudPaper> *@
    <MudTabs Elevation="0" ApplyEffectsToContainer="true">
        <MudTabPanel Text="Input">
            <InputsTab Activity="Activity" OnActivityUpdated="OnActivityUpdated"></InputsTab>
        </MudTabPanel>
        <MudTabPanel Text="Output">
            <div class="pa-4">
                <MudForm>
                    <MudTextField T="string" Label="Text" Required="true" Variant="Variant.Outlined" HelperText="The text to write to the console."></MudTextField>
                </MudForm>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Settings">
            <MudText>Common properties</MudText>
        </MudTabPanel>
        <MudTabPanel Text="Advanced">
            <MudText>Various settings</MudText>
        </MudTabPanel>

    </MudTabs>
</div>