@using Elsa.Studio.Workflows.Pages.WorkflowDefinition.Edit.ActivityProperties.Tabs
@using Variant = MudBlazor.Variant

<div>
    <MudTabs Elevation="0" ApplyEffectsToContainer="true">
        <MudTabPanel Text="Input">
            <div style="@($"max-height: {VisiblePaneHeight}px; overflow-y: scroll;")">
                <InputsTab Activity="@Activity" OnActivityUpdated="OnActivityUpdated"></InputsTab>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Output">
            <div class="pa-4">
                <MudText>Output</MudText>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Common">
            <div style="@($"max-height: {VisiblePaneHeight}px; overflow-y: scroll;")">
                <CommonTab Activity="@Activity" OnActivityUpdated="OnActivityUpdated"></CommonTab>
            </div>
        </MudTabPanel>

    </MudTabs>
</div>