@using Variant = MudBlazor.Variant
<div class="pa-4">
    <MudStack>
        <Metadata WorkflowDefinition="WorkflowDefinition" OnWorkflowDefinitionUpdated="OnWorkflowDefinitionUpdated"/>
        <Settings WorkflowDefinition="WorkflowDefinition" OnWorkflowDefinitionUpdated="OnWorkflowDefinitionUpdated"/>
        <Info WorkflowDefinition="WorkflowDefinition"/>
    </MudStack>
</div>