@using Elsa.Studio.Workflows.Pages.WorkflowDefinition.Edit.ActivityProperties;
@using Orientation = Radzen.Orientation
@using Elsa.Api.Client.Activities

<RadzenSplitter Orientation="Orientation.Vertical">
    <RadzenSplitterPane Size="60%">
        <div>
            @{
                var rootActivity = WorkflowDefinition?.Root;

                if (rootActivity is Flowchart flowchart)
                {
                    <FlowchartEditor @ref="FlowchartEditor" Flowchart="@flowchart" OnActivitySelected="@OnActivitySelected" OnSaveRequested="@OnSaveRequested"></FlowchartEditor>
                }
            }
        </div>
    </RadzenSplitterPane>
    <RadzenSplitterPane Size="40%">
        <ActivityPropertiesTabs Activity="SelectedActivity" OnActivityUpdated="OnSelectedActivityUpdated"/>
    </RadzenSplitterPane>
</RadzenSplitter>