@using System.Text.Json
@using Elsa.Api.Client.Resources.ActivityDescriptors.Models
@using Elsa.Api.Client.Resources.WorkflowDefinitions.Models
@using Elsa.Studio.Workflows.Designer.Contracts
@using Elsa.Studio.Workflows.Designer.Models
@using Elsa.Studio.Workflows.Models
<MudPaper Class="ma-2" Elevation="0" Outlined="true">
    <MudToolBar Dense="true">
        <MudTooltip Text="Zoom content to fit the screen">
            <MudIconButton Icon="@Icons.Material.Outlined.FitScreen" Title="Zoom to fit"/>
        </MudTooltip>
        <MudTooltip Text="Auto layout">
            <MudIconButton Icon="@Icons.Material.Outlined.AutoAwesomeMosaic" Title="Auto layout"/>
        </MudTooltip>
    </MudToolBar>
</MudPaper>
<div @ondragover="@OnDragOver" @ondragover:preventDefault>
    @if (WorkflowDefinition != null)
    {
        <FlowchartDesigner Flowchart="@WorkflowDefinition.Root"></FlowchartDesigner>
    }
</div>

@code {

    [CascadingParameter]
    public DragDropManager DragDropManager { get; set; } = default!;

    [Parameter]
    public WorkflowDefinition? WorkflowDefinition { get; set; }
    
    void OnDragOver(DragEventArgs e)
    {
        if (DragDropManager.Payload is not ActivityDescriptor activityDescriptor)
        {
            e.DataTransfer.DropEffect = "none";
            return;
        }

        e.DataTransfer.DropEffect = "move";
    }

}