/* _content/Elsa.Studio.Login/Pages/Login.razor.rz.scp.css */
h2.LoginTitle[b-95xa7i2okj] {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Grandstander', cursive;
    font-size: 60px;
    color: #ffffff;
    opacity: 0.8;
}
