.elsa-flowchart-diagram-designer-v1 .x6-graph-background {
    background-color: var(--mud-palette-background);
}

.elsa-flowchart-diagram-designer-v1 .x6-widget-selection-box {
    border: 2px dashed var(--mud-palette-secondary);
}

.elsa-flowchart-diagram-designer-v1 .x6-widget-selection-inner {
    border: 1px solid var(--mud-palette-secondary);
}

.elsa-flowchart-diagram-designer-v1 .elsa-snapline .x6-widget-snapline-horizontal,
.elsa-flowchart-diagram-designer-v1 .elsa-snapline .x6-widget-snapline-vertical {
    stroke: var(--mud-palette-secondary);
}

.elsa-flowchart-diagram-designer-v1 .elsa-activity {
    border-left: solid 6px var(--mud-palette-info);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    height: 100%;
}

.elsa-flowchart-diagram-designer-v1 .elsa-activity-wrapper-badge.has-retries .mud-badge-wrapper .mud-badge {
    background-color: #FFEB3B !important;
}