@using System.Text.Json.Nodes
@using Elsa.Api.Client.Resources.WorkflowDefinitions.Models
@inherits BackendComponentBase

<ThemedComponentWrapper>
    @* <WorkflowDefinitionEditor DefinitionId="@DefinitionId" *@
    @*                           WorkflowDefinitionExecuted="WorkflowDefinitionExecuted" *@
    @*                           WorkflowDefinitionVersionSelected="WorkflowDefinitionVersionSelected" *@
    @*                           ActivitySelected="ActivitySelected"/> *@

    <h1>
        Hello @Name
    </h1>

    <button @onclick="OnClicked">Click me!</button>
</ThemedComponentWrapper>

@code
{
    
}