@using Variant = MudBlazor.Variant
<div class="pa-4">
    <MudStack>
        <MetadataEditor WorkflowDefinition="WorkflowDefinition" OnWorkflowDefinitionUpdated="OnWorkflowDefinitionUpdated"/>
        <InfoPanel WorkflowDefinition="WorkflowDefinition"/>
    </MudStack>
</div>