/* Roboto Font Family - Weights: 300, 400, 500, 700 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/roboto-v30-latin-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-v30-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/roboto-v30-latin-500.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/roboto-v30-latin-700.woff2) format('woff2');
}

/* Ubuntu Font Family - Weights: 300, 400, 500, 700 */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/ubuntu-v20-latin-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ubuntu-v20-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/ubuntu-v20-latin-500.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ubuntu-v20-latin-700.woff2) format('woff2');
}

/* Montserrat Font Family - Weights: 400, 500, 600, 700 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/montserrat-v26-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/montserrat-v26-latin-500.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/montserrat-v26-latin-600.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/montserrat-v26-latin-700.woff2) format('woff2');
}

/* Grandstander Font Family - Weight: 100 */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/grandstander-v17-latin-100.woff2) format('woff2');
}
