@using Elsa.Studio.Localization.Time.Components

<span>
    <Timestamp Value="@Value" Format="@Format" />
</span>

@code {
    /// <summary>
    /// The timestamp value to display.
    /// </summary>
    [Parameter] public DateTimeOffset? Value { get; set; } = null;

    /// <summary>
    /// The format string to use when displaying the timestamp (e.g., "s" for sortable format, "G" for general).
    /// </summary>
    [Parameter] public string Format { get; set; } = "G";
}
