@using Elsa.Studio.Localization.Time.Components

<span>
    <Timestamp Value="@Value" />
</span>

@code {
    /// <summary>
    /// The timestamp value to display.
    /// </summary>
    [Parameter] public DateTimeOffset? Value { get; set; } = null;
}
