@inherits StudioComponentBase

<MudForm>
    <MudStack>
        @foreach (var inputModel in InputDisplayModels)
        {
            <div @key="inputModel.Key">
                @inputModel.Editor
            </div>
        }
    </MudStack>
</MudForm>