@inherits StudioComponentBase

<div class="pa-2">
    <MudForm>
        <MudStack>
            @foreach (var inputModel in InputDisplayModels)
            {
                @inputModel.Editor
            }
        </MudStack>
    </MudForm>
</div>