@inherits StudioComponentBase

<MudForm>
    <MudStack Spacing="5">
        @foreach (var inputModel in InputDisplayModels)
        {
            <div @key="@inputModel.Key">
                @inputModel.Editor
            </div>
        }
    </MudStack>
</MudForm>