@using Variant = MudBlazor.Variant
<MudTabs Elevation="0" ApplyEffectsToContainer="true">
    <MudTabPanel Text="Properties">
        <div class="pa-4">
            <MudForm>
                <MudTextField T="string" Label="Name" Required="true" Variant="Variant.Outlined" HelperText="The name of the workflow."></MudTextField>
                <MudTextField T="string" Label="Description" Variant="Variant.Outlined" HelperText="A brief description of the workflow." Lines="4"></MudTextField>
            </MudForm>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Variables">
        <MudText>Workflow variables</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Settings">
        <MudText>Various settings</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Input/output">
        <MudText>Version history</MudText>
    </MudTabPanel>
</MudTabs>